@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/components.css';
@import './styles/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --dusty-50: 180 9% 98%;
    --dusty-100: 150 6% 94%;
    --dusty-200: 160 6% 90%;
    --dusty-300: 156 6% 83%;
    --dusty-400: 162 7% 63%;
    --dusty-500: 160 7% 44%;
    --dusty-600: 160 7% 35%;
    --dusty-700: 160 7% 26%;
    --dusty-800: 160 7% 18%;
    --dusty-900: 160 7% 9%; */

    --dusty-50: 200 8% 98%;
    --dusty-100: 195 6% 95%;
    --dusty-200: 190 5% 90%;
    --dusty-300: 185 5% 82%;
    --dusty-400: 180 5% 66%;
    --dusty-500: 180 5% 50%;
    --dusty-600: 180 6% 38%;
    --dusty-700: 180 6% 28%;
    --dusty-800: 180 7% 18%;
    --dusty-900: 180 7% 11%;

    --background: 0 0% 100%;
    --canvas: var(--dusty-100);
    --subtle: var(--dusty-200);
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: var(--dusty-300);
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: var(--dusty-300);
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: var(--dusty-800);
    --canvas: var(--dusty-900);
    --subtle: var(--dusty-800);
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: var(--dusty-700);
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {

  /* :where(button,
    input,
    textarea,
    select,
    hr,
    img,
    video,
    table,
    th,
    td,
    fieldset) {
    @apply border-border;
  } */

  /* :where(header, main, footer, section, nav, aside, article, div[class*="container"]) {
    border-color: transparent !important;
    border-width: 0 !important;
  } */

  @layer utilities {
    .container {
      @apply px-0 md:px-8;
    }
  }

  * {
    @apply border-border;
  }



  body {
    @apply bg-background text-foreground;
  }
}