@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --dusty-50: theme(colors.dusty.50);
    --dusty-100: theme(colors.dusty.100);
    --dusty-200: theme(colors.dusty.200);
    --dusty-300: theme(colors.dusty.300);
    --dusty-400: theme(colors.dusty.400);
    --dusty-500: theme(colors.dusty.500);
    --dusty-600: theme(colors.dusty.600);
    --dusty-700: theme(colors.dusty.700);
    --dusty-800: theme(colors.dusty.800);
    --dusty-900: theme(colors.dusty.900);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {

  :where(button,
    input,
    textarea,
    select,
    hr,
    img,
    video,
    table,
    th,
    td,
    fieldset) {
    @apply border-border;
  }

  :where(header, main, footer, section, nav, aside, article, div[class*="container"]) {
    border-color: transparent !important;
    border-width: 0 !important;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-left-dusty::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: max(50vw, 720px);
  background-color: theme('colors.dusty.100');
  z-index: -1;
}

.bg-right-dusty::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: max(50vw, 720px);
  background-color: theme('colors.dusty.100');
  z-index: -1;
}